<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
        <% complaint.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ml-5 mt-4 col-md-2">
    <%= form.label :title, class: "h5 text-muted" %>
    <%= form.text_field :title, class:"form-control", autofocus: true, autocomplete: "title" %>
  </div>

  <div class="field ml-5 mt-4 col-md-2">
    <%= form.label :desc, class: "h5 text-muted" %>
    <%= form.text_area :desc, class:"form-control", autofocus: true, autocomplete: "desc" %>
  </div>

  <div class="actions mt-4 ml-5 col-md-3 d-flex">
    <%= form.submit class:"btn col-md-5 btn-primary text-white form-control" %>
    <%= link_to 'Back', complaints_path, class: "btn ml-3 col-md-2 btn-secondary form-control" %>
  </div>


<% end %>
