<h1 class="text-center text-info"> User Page </h1>

<h2 class="text-info mt-4 ml-5">My Complaints</h2>

<% if @complaints.count == 0 %>
<a class="text-warning ml-5"><%= "No Complaints Left here" %> </a> 
<% else %>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th class="text-center">Title</th>
      <th class="text-center">Description</th>
      <th class="text-center">Status</th>
      <th class="text-center" colspan="3"> Actions </th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.title %></td>
        <td><%= complaint.desc %></td>
        <td><%= complaint.status %></td>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
