<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <br>
  <h2 class="sign-in text-center">Log in</h2>
  <br>

  <div class="field offset-5 col-md-2">
    <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email", placeholder: "Email Id" %>
  </div>

  <div class="field offset-5 col-md-2 mt-3">
    <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field offset-5 col-md-2 mt-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions offset-5 col-md-2 mt-2">
    <%= f.submit "Log in", class:"bg-primary text-white form-control" %>
  </div>
<% end %>
<br>
<h6 class="text-black text-center">Don't have account? <%= render "devise/shared/links" %></h6>
